dify/cointutor/CoinTutor3.yml
app:
  description: CoinTutor Service Supporter
  icon: 🤖
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: CoinTutor3
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1770997254876-source-1711528802931-target
      source: '1770997254876'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1711528802931-source-1711528833796-target
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528708197-source-1770997254876-target
      source: '1711528708197'
      sourceHandle: source
      target: '1770997254876'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - default: en
          label: language
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: language
      height: 153
      id: '1711528708197'
      position:
        x: -347.14537706202435
        y: 501.63333765670905
      positionAbsolute:
        x: -347.14537706202435
        y: 501.63333765670905
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1770997254876'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: a50ef1e8-6092-4058-bf3e-70cce0407d05
          jinja2_text: 'Use the following context as your learned knowledge, inside
            <context></context> XML tags.


            <context>

            {% if context and context|length > 0 %}

            {% for r in context %}

            [{{ loop.index }}]

            {% set body = r.content|default(r.text, true)|default(r.segment, true)|default(r.snippet,
            true)|default('''', true) %}

            {{ body }}

            {% endfor %}

            {% else %}

            No relevant knowledge was retrieved.

            {% endif %}

            </context>


            When answering the user:

            - Use the context when it is relevant.

            - If the context is empty or insufficient, you may answer using your general
            knowledge, but do NOT invent specific facts.

            - Do NOT mention that you obtained the information from the context.


            Respond only in the language given by the "language" variable.

            Values: en=English, ko=Korean, zh=Chinese, ja=Japanese, es=Spanish. Current
            language: {{ language }}.

            If empty or missing, use the language of the user''s question.'
          role: system
          text: 'Use the following context as your learned knowledge, inside <context></context>
            XML tags.

            <context>

            {{#context#}}

            </context>

            When answer to user:

            - If you don''t know, just say that you don''t know.

            - If you don''t know when you are not sure, ask for clarification.

            Avoid mentioning that you obtained the information from the context.

            Respond only in the language given by the "language" variable. Values:
            en=English, ko=Korean, zh=Chinese, ja=Japanese, es=Spanish. Current language:
            {{language}}. If empty or missing, use the language of the user''s question.'
        selected: false
        structured_output_enabled: true
        title: LLM
        type: llm
        variables:
        - value_selector:
          - '1711528708197'
          - language
          variable: language
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528802931'
      position:
        x: 451.7694718423435
        y: 720.2816245817481
      positionAbsolute:
        x: 451.7694718423435
        y: 720.2816245817481
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528833796'
      position:
        x: 752.3840015256937
        y: 720.2816245817481
      positionAbsolute:
        x: 752.3840015256937
        y: 720.2816245817481
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - WYOcMrKbn+Ej+pDTA5bzIyfAi5epvCHg12n/sxgeDNrkKH2Hf4HM9C2jawhUWIxX
        - dh3VbfL0i9vz++y1zSQwbssQHF2dAaOS/bJGyyppwlOOudy6LjtHHkp9qm2P6R/Q
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 지식 검색
        type: knowledge-retrieval
      height: 118
      id: '1770997254876'
      position:
        x: 33.29326918073639
        y: 551.5632567011031
      positionAbsolute:
        x: 33.29326918073639
        y: 551.5632567011031
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 99.52757995038479
      y: -3.682192189967168
      zoom: 0.563867003734127
  rag_pipeline_variables: []
