dify/cointutor/CoinTutor.yml
app:
  description: CoinTutor Service Supporter
  icon: 🤖
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: CoinTutor
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/wikipedia:0.0.3@63972698f033252b19a23a203f0beb6c3af16c6e8b0b886f001d902165a3da0c
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      selected: false
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-source-1770997150548-target
      source: '1711528708197'
      sourceHandle: source
      target: '1770997150548'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1770997254876-source-1711528802931-target
      source: '1770997254876'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1770997150548-1770997183308-1770997297379-target
      source: '1770997150548'
      sourceHandle: '1770997183308'
      target: '1770997297379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1770997297379-source-1711528802931-target
      source: '1770997297379'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1770997150548-1-1770997254876-target
      source: '1770997150548'
      sourceHandle: '1'
      target: '1770997254876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1770997150548-2-1771026893527-target
      source: '1770997150548'
      sourceHandle: '2'
      target: '1771026893527'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1771026893527-source-1711528802931-target
      source: '1771026893527'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables:
        - default: en
          label: language
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: language
      height: 153
      id: '1711528708197'
      position:
        x: -347.14537706202435
        y: 501.63333765670905
      positionAbsolute:
        x: -347.14537706202435
        y: 501.63333765670905
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1770997254876'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: a50ef1e8-6092-4058-bf3e-70cce0407d05
          jinja2_text: 'Use the following context as your learned knowledge, inside
            <context></context> XML tags.


            <context>

            {% if context and context|length > 0 %}

            {% for r in context %}

            [{{ loop.index }}]

            {% set body = r.content|default(r.text, true)|default(r.segment, true)|default(r.snippet,
            true)|default('''', true) %}

            {{ body }}

            {% endfor %}

            {% else %}

            No relevant knowledge was retrieved.

            {% endif %}

            </context>


            When answering the user:

            - Use the context when it is relevant.

            - If the context is empty or insufficient, you may answer using your general
            knowledge, but do NOT invent specific facts.

            - Do NOT mention that you obtained the information from the context.


            Respond only in the language given by the "language" variable.

            Values: en=English, ko=Korean, zh=Chinese, ja=Japanese, es=Spanish. Current
            language: {{ language }}.

            If empty or missing, use the language of the user''s question.'
          role: system
          text: 'Use the following context as your learned knowledge, inside <context></context>
            XML tags.

            <context>

            {{#context#}}

            </context>

            When answer to user:

            - If you don''t know, just say that you don''t know.

            - If you don''t know when you are not sure, ask for clarification.

            Avoid mentioning that you obtained the information from the context.

            Respond only in the language given by the "language" variable. Values:
            en=English, ko=Korean, zh=Chinese, ja=Japanese, es=Spanish. Current language:
            {{language}}. If empty or missing, use the language of the user''s question.'
        selected: false
        structured_output_enabled: true
        title: LLM
        type: llm
        variables:
        - value_selector:
          - '1711528708197'
          - language
          variable: language
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528802931'
      position:
        x: 451.7694718423435
        y: 720.2816245817481
      positionAbsolute:
        x: 451.7694718423435
        y: 720.2816245817481
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528833796'
      position:
        x: 747.0635979905821
        y: 720.2816245817481
      positionAbsolute:
        x: 747.0635979905821
        y: 720.2816245817481
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 코인튜터
        - id: '2'
          name: 코인 학습, 코인 추천
        - id: '1770997183308'
          name: 기타 주제
        instruction: 답변에 대한 불만이 포함되어 있으면 미안하다는 말을 추가해야 한다.
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        query_variable_selector:
        - sys
        - query
        selected: false
        title: 질문 분류기
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1770997150548'
      position:
        x: -317.9488910288708
        y: 696.0134957483442
      positionAbsolute:
        x: -317.9488910288708
        y: 696.0134957483442
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - +8IKLdsHHFcmfQqapCuMP5X9E/6mH/SAc/rIcvLScAv2Jga7yNc/Yopf8Eev86cq
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: true
        title: 지식 검색
        type: knowledge-retrieval
      height: 90
      id: '1770997254876'
      position:
        x: 33.29326918073639
        y: 551.5632567011031
      positionAbsolute:
        x: 33.29326918073639
        y: 551.5632567011031
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: key words for searching
            ja_JP: key words for searching
            pt_BR: key words for searching
            zh_Hans: 查询关键词
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: key words for searching, this should be in the language
            of "language" parameter
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The language of the Wikipedia to be searched
            ja_JP: The language of the Wikipedia to be searched
            pt_BR: The language of the Wikipedia to be searched
            zh_Hans: 要搜索的维基百科语言
          label:
            en_US: Language
            ja_JP: Language
            pt_BR: Language
            zh_Hans: 语言
          llm_description: language of the wikipedia to be searched, only "de" for
            German, "en" for English, "fr" for French, "hi" for Hindi, "ja" for Japanese,
            "ko" for Korean, "pl" for Polish, "pt" for Portuguese, "ro" for Romanian,
            "uk" for Ukrainian, "vi" for Vietnamese, and "zh" for Chinese are supported
          max: null
          min: null
          name: language
          options:
          - icon: ''
            label:
              en_US: German
              ja_JP: German
              pt_BR: German
              zh_Hans: 德语
            value: de
          - icon: ''
            label:
              en_US: English
              ja_JP: English
              pt_BR: English
              zh_Hans: 英语
            value: en
          - icon: ''
            label:
              en_US: French
              ja_JP: French
              pt_BR: French
              zh_Hans: 法语
            value: fr
          - icon: ''
            label:
              en_US: Hindi
              ja_JP: Hindi
              pt_BR: Hindi
              zh_Hans: 印地语
            value: hi
          - icon: ''
            label:
              en_US: Japanese
              ja_JP: Japanese
              pt_BR: Japanese
              zh_Hans: 日语
            value: ja
          - icon: ''
            label:
              en_US: Korean
              ja_JP: Korean
              pt_BR: Korean
              zh_Hans: 韩语
            value: ko
          - icon: ''
            label:
              en_US: Polish
              ja_JP: Polish
              pt_BR: Polish
              zh_Hans: 波兰语
            value: pl
          - icon: ''
            label:
              en_US: Portuguese
              ja_JP: Portuguese
              pt_BR: Portuguese
              zh_Hans: 葡萄牙语
            value: pt
          - icon: ''
            label:
              en_US: Romanian
              ja_JP: Romanian
              pt_BR: Romanian
              zh_Hans: 罗马尼亚语
            value: ro
          - icon: ''
            label:
              en_US: Ukrainian
              ja_JP: Ukrainian
              pt_BR: Ukrainian
              zh_Hans: 乌克兰语
            value: uk
          - icon: ''
            label:
              en_US: Vietnamese
              ja_JP: Vietnamese
              pt_BR: Vietnamese
              zh_Hans: 越南语
            value: vi
          - icon: ''
            label:
              en_US: Chinese
              ja_JP: Chinese
              pt_BR: Chinese
              zh_Hans: 中文
            value: zh
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          language: ''
          query: ''
        plugin_id: langgenius/wikipedia
        plugin_unique_identifier: langgenius/wikipedia:0.0.3@63972698f033252b19a23a203f0beb6c3af16c6e8b0b886f001d902165a3da0c
        provider_icon: https://dify.drillquiz.com/console/api/workspaces/current/plugin/icon?tenant_id=f2dd7ec6-34e0-4356-bf6f-1f8b23f16bf5&filename=a83ac9eac258f6710e51050e914e9b97d978fcbfc2b53923f4f320c8eef44424.svg
        provider_id: langgenius/wikipedia/wikipedia
        provider_name: langgenius/wikipedia/wikipedia
        provider_type: builtin
        selected: false
        title: WikipediaSearch
        tool_configurations: {}
        tool_description: A tool for performing a Wikipedia search and extracting
          snippets and webpages.
        tool_label: WikipediaSearch
        tool_name: wikipedia_search
        tool_node_version: '2'
        tool_parameters:
          language:
            type: mixed
            value: '{{#1711528708197.language#}}'
          query:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 52
      id: '1770997297379'
      position:
        x: 60.65699864948908
        y: 1127.7771047088663
      positionAbsolute:
        x: 60.65699864948908
        y: 1127.7771047088663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: User question
            ja_JP: User question
            pt_BR: User question
            zh_Hans: User question
          label:
            en_US: question
            ja_JP: question
            pt_BR: question
            zh_Hans: question
          llm_description: User question
          max: null
          min: null
          name: question
          options: []
          placeholder:
            en_US: User question
            ja_JP: User question
            pt_BR: User question
            zh_Hans: User question
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 5
          form: llm
          human_description:
            en_US: Number of results to return
            ja_JP: Number of results to return
            pt_BR: Number of results to return
            zh_Hans: Number of results to return
          label:
            en_US: top_k
            ja_JP: top_k
            pt_BR: top_k
            zh_Hans: top_k
          llm_description: Number of results to return
          max: null
          min: null
          name: top_k
          options: []
          placeholder:
            en_US: Number of results to return
            ja_JP: Number of results to return
            pt_BR: Number of results to return
            zh_Hans: Number of results to return
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          question: ''
          top_k: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FEF7C3'
          content: 🕵️
        provider_id: bb7a9d66-240b-4423-9f5b-5e3e7081f19f
        provider_name: cointutor
        provider_type: api
        selected: false
        title: query
        tool_configurations: {}
        tool_description: Vector search on rag_docs_cointutor with user question,
          returns related chunks
        tool_label: query
        tool_name: query
        tool_node_version: '2'
        tool_parameters:
          question:
            type: mixed
            value: '{{#sys.query#}}'
          top_k:
            type: constant
            value: 5
        type: tool
      height: 52
      id: '1771026893527'
      position:
        x: 39.02704175573717
        y: 939.833680800047
      positionAbsolute:
        x: 39.02704175573717
        y: 939.833680800047
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 400.5275799503846
      y: -23.682192189967168
      zoom: 0.563867003734127
  rag_pipeline_variables: []
